@font-face {
  font-family: "Cabinet Grotesk";
  src: "public/fonts/vendor/CabinetGrotesk-Regular.woff";
}
.main {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}
.card__section {
  margin-top: 20px;
}
.card__name {
  text-align: center;
}
.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
}
.card__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 110px;
}
.weather__suggest {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin-left: 30px;
}
